In [47]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import LSTM, Dense, Activation, ThresholdedReLU, MaxPooling2D, Embedding, Dropout
from keras.optimizers import Adam, SGD, RMSprop
from keras import backend as K
from sklearn.model_selection import train_test_split
from keras.callbacks import EarlyStopping
from sklearn.preprocessing import MinMaxScaler
import gc
import matplotlib.pyplot as plt

In [48]:
# Import data
sales = pd.read_csv('data/sales_train_v2.csv', parse_dates=['date'], infer_datetime_format=True, dayfirst=True)
shops = pd.read_csv('data/shops.csv')
items = pd.read_csv('data/items.csv')
cats = pd.read_csv('data/item_categories.csv')
val = pd.read_csv('data/test.csv')

In [49]:
sales.head()

        date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0 2013-01-02               0       59    22154      999.00           1.0
1 2013-01-03               0       25     2552      899.00           1.0
2 2013-01-05               0       25     2552      899.00          -1.0
3 2013-01-06               0       25     2554     1709.05           1.0
4 2013-01-15               0       25     2555     1099.00           1.0

In [50]:
df = sales.groupby([sales.date.apply(lambda x: x.strftime('%Y-%m')),'item_id','shop_id']).sum().reset_index()

In [51]:
df

            date  item_id  shop_id  date_block_num  item_price  item_cnt_day
0        2013-01       19       25               0       28.00           1.0
1        2013-01       27        1               0     1890.00           1.0
2        2013-01       27        2               0     2499.00           1.0
3        2013-01       27       10               0     1890.00           1.0
4        2013-01       27       19               0     2499.00           1.0
5        2013-01       27       26               0     2499.00           1.0
6        2013-01       27       31               0     2499.00           1.0
7        2013-01       27       45               0     2499.00           1.0
8        2013-01       28       15               0      549.00           1.0
9        2013-01       28       31               0     1647.00           3.0
10       2013-01       28       35               0      549.00           1.0
11       2013-01       28       46               0      549.00           1.0
12       2013-01       28       47               0     1098.00           2.0
13       2013-01       29        1               0     1890.00           1.0
14       2013-01       29       28               0     2499.00           1.0
15       2013-01       29       31               0     4998.00           2.0
16       2013-01       29       50               0     4998.00           0.0
17       2013-01       32        0               0      884.00           6.0
18       2013-01       32        1               0     1326.00           7.0
19       2013-01       32        3               0     1047.00           3.0
20       2013-01       32        4               0      698.00           2.0
21       2013-01       32        6               0     2094.00           8.0
22       2013-01       32        7               0      349.00           1.0
23       2013-01       32       13               0     1326.00           6.0
24       2013-01       32       14               0     1047.00           3.0
25       2013-01       32       15               0     1047.00           3.0
26       2013-01       32       16               0     2443.00           7.0
27       2013-01       32       18               0      698.00           2.0
28       2013-01       32       19               0     3141.00          10.0
29       2013-01       32       21               0     2094.00           6.0
...          ...      ...      ...             ...         ...           ...
1609094  2015-10    22163       42              33      169.00           1.0
1609095  2015-10    22163       48              33      169.00           1.0
1609096  2015-10    22163       52              33      169.00           1.0
1609097  2015-10    22163       53              33      169.00           1.0
1609098  2015-10    22163       57              66      338.00           2.0
1609099  2015-10    22163       58              33      169.00           1.0
1609100  2015-10    22164        3              33      549.00           1.0
1609101  2015-10    22164        5              33      549.00           1.0
1609102  2015-10    22164       18              33      549.00           1.0
1609103  2015-10    22164       21              99     1647.00           3.0
1609104  2015-10    22164       25              66     1098.00           2.0
1609105  2015-10    22164       31              33      549.00           1.0
1609106  2015-10    22164       34              33      549.00           1.0
1609107  2015-10    22164       42              99     1647.00           3.0
1609108  2015-10    22164       46              33      549.00           1.0
1609109  2015-10    22164       52              33      549.00           1.0
1609110  2015-10    22166       55             198      900.00          11.0
1609111  2015-10    22167        6              33      299.00           1.0
1609112  2015-10    22167       10              33      155.00           1.0
1609113  2015-10    22167       12             231     2093.00           7.0
1609114  2015-10    22167       18              33      299.00           1.0
1609115  2015-10    22167       21              33      299.00           1.0
1609116  2015-10    22167       22             363     3244.15          14.0
1609117  2015-10    22167       25              66      598.00           3.0
1609118  2015-10    22167       26              33      299.00           1.0
1609119  2015-10    22167       28              33      299.00           1.0
1609120  2015-10    22167       37              33      299.00           1.0
1609121  2015-10    22167       42              99      897.00           4.0
1609122  2015-10    22167       47              33      299.00           1.0
1609123  2015-10    22167       50              33      299.00           1.0

[1609124 rows x 6 columns]

In [52]:
df = df[['date','item_id','shop_id','item_cnt_day']]

In [53]:
df

            date  item_id  shop_id  item_cnt_day
0        2013-01       19       25           1.0
1        2013-01       27        1           1.0
2        2013-01       27        2           1.0
3        2013-01       27       10           1.0
4        2013-01       27       19           1.0
5        2013-01       27       26           1.0
6        2013-01       27       31           1.0
7        2013-01       27       45           1.0
8        2013-01       28       15           1.0
9        2013-01       28       31           3.0
10       2013-01       28       35           1.0
11       2013-01       28       46           1.0
12       2013-01       28       47           2.0
13       2013-01       29        1           1.0
14       2013-01       29       28           1.0
15       2013-01       29       31           2.0
16       2013-01       29       50           0.0
17       2013-01       32        0           6.0
18       2013-01       32        1           7.0
19       2013-01       32        3           3.0
20       2013-01       32        4           2.0
21       2013-01       32        6           8.0
22       2013-01       32        7           1.0
23       2013-01       32       13           6.0
24       2013-01       32       14           3.0
25       2013-01       32       15           3.0
26       2013-01       32       16           7.0
27       2013-01       32       18           2.0
28       2013-01       32       19          10.0
29       2013-01       32       21           6.0
...          ...      ...      ...           ...
1609094  2015-10    22163       42           1.0
1609095  2015-10    22163       48           1.0
1609096  2015-10    22163       52           1.0
1609097  2015-10    22163       53           1.0
1609098  2015-10    22163       57           2.0
1609099  2015-10    22163       58           1.0
1609100  2015-10    22164        3           1.0
1609101  2015-10    22164        5           1.0
1609102  2015-10    22164       18           1.0
1609103  2015-10    22164       21           3.0
1609104  2015-10    22164       25           2.0
1609105  2015-10    22164       31           1.0
1609106  2015-10    22164       34           1.0
1609107  2015-10    22164       42           3.0
1609108  2015-10    22164       46           1.0
1609109  2015-10    22164       52           1.0
1609110  2015-10    22166       55          11.0
1609111  2015-10    22167        6           1.0
1609112  2015-10    22167       10           1.0
1609113  2015-10    22167       12           7.0
1609114  2015-10    22167       18           1.0
1609115  2015-10    22167       21           1.0
1609116  2015-10    22167       22          14.0
1609117  2015-10    22167       25           3.0
1609118  2015-10    22167       26           1.0
1609119  2015-10    22167       28           1.0
1609120  2015-10    22167       37           1.0
1609121  2015-10    22167       42           4.0
1609122  2015-10    22167       47           1.0
1609123  2015-10    22167       50           1.0

[1609124 rows x 4 columns]

In [54]:
df["item_cnt_day"].clip(0.,20.,inplace=True)
df = df.pivot_table(index=['item_id','shop_id'], columns='date',values='item_cnt_day',fill_value=0).reset_index()

/home/ashray/.local/lib/python3.6/site-packages/pandas/core/generic.py:7175: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(result)

In [55]:
df

date,item_id,shop_id,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,...,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10
0,0,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,6,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,7,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,8,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,10,54,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
11,11,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,12,54,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,13,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,14,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,15,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,16,56,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,17,44,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,18,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,19,25,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,20,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,21,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,22,54,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
23,23,54,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
24,24,54,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
25,25,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,26,31,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,27,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,27,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,27,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424094,22167,33,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424095,22167,34,0,0,0,0,0,0,0,0,...,2,0,0,0,0,1,0,0,0,0
424096,22167,35,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0
424097,22167,37,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
424098,22167,38,0,0,0,0,0,0,0,0,...,0,0,0,2,1,0,0,0,0,0
424099,22167,39,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,2,1,0,0
424100,22167,41,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
424101,22167,42,0,0,0,0,0,0,0,0,...,2,4,3,2,3,2,2,3,4,4
424102,22167,43,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
424103,22167,44,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
424104,22167,45,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424105,22167,46,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424106,22167,47,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,2,0,0,1
424107,22167,48,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424108,22167,49,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
424109,22167,50,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
424110,22167,51,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
424111,22167,52,0,0,0,0,0,0,0,0,...,1,1,1,1,0,0,2,2,0,0
424112,22167,53,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424113,22167,54,0,0,0,0,0,0,0,0,...,1,3,3,1,0,0,0,0,0,0
424114,22167,56,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424115,22167,57,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424116,22167,58,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424117,22167,59,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424118,22168,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424119,22168,12,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424120,22168,16,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424121,22168,42,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424122,22168,43,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
424123,22169,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
test = pd.merge(val,df,on=['item_id','shop_id'], how='left').fillna(0)

In [57]:
test = test.drop(labels=['ID','item_id','shop_id'],axis=1)

In [58]:
scaler = MinMaxScaler(feature_range=(0, 1))
sales["item_price"] = scaler.fit_transform(sales["item_price"].values.reshape(-1,1))
df2 = sales.groupby([sales.date.apply(lambda x: x.strftime('%Y-%m')),'item_id','shop_id']).mean().reset_index()
df2 = df2[['date','item_id','shop_id','item_price']].pivot_table(index=['item_id','shop_id'], columns='date',values='item_price',fill_value=0).reset_index()

In [59]:
# Merge data from average prices to specific item-shops in test data
price = pd.merge(val,df2,on=['item_id','shop_id'], how='left').fillna(0)
price = price.drop(labels=['ID','item_id','shop_id'],axis=1)

In [60]:
y_train = test['2015-10']
x_sales = test.drop(labels=['2015-10'],axis=1)
x_sales = x_sales.values.reshape((x_sales.shape[0], x_sales.shape[1], 1))
x_prices = price.drop(labels=['2015-10'],axis=1)
x_prices= x_prices.values.reshape((x_prices.shape[0], x_prices.shape[1], 1))
X = np.append(x_sales,x_prices,axis=2)

In [61]:
y = y_train.values.reshape((214200, 1))
print("Training Predictor Shape: ",X.shape)
print("Training Predictee Shape: ",y.shape)
del y_train, x_sales; gc.collect()

Training Predictor Shape:  (214200, 33, 2)
Training Predictee Shape:  (214200, 1)

133

In [62]:
test = test.drop(labels=['2013-01'],axis=1)
x_test_sales = test.values.reshape((test.shape[0], test.shape[1], 1))
x_test_prices = price.drop(labels=['2013-01'],axis=1)
x_test_prices = x_test_prices.values.reshape((x_test_prices.shape[0], x_test_prices.shape[1], 1))

In [63]:
test = np.append(x_test_sales,x_test_prices,axis=2)
del x_test_sales,x_test_prices, price; gc.collect()
print("Test Predictor Shape: ",test.shape)

Test Predictor Shape:  (214200, 33, 2)

In [68]:
model_lstm = Sequential()
model_lstm.add(LSTM(16, input_shape=(X.shape[1], X.shape[2]),return_sequences=True))
model_lstm.add(Dropout(0.5))
model_lstm.add(LSTM(32))
model_lstm.add(Dropout(0.5))
model_lstm.add(Dense(1))
model_lstm.compile(optimizer="adam", loss='mse', metrics=["mse"])
print(model_lstm.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_17 (LSTM)               (None, 33, 16)            1216
_________________________________________________________________
dropout_13 (Dropout)         (None, 33, 16)            0
_________________________________________________________________
lstm_18 (LSTM)               (None, 32)                6272
_________________________________________________________________
dropout_14 (Dropout)         (None, 32)                0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 33
=================================================================
Total params: 7,521
Trainable params: 7,521
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
print("\nFit Model")
VALID = True
LSTM_PARAM = {"batch_size":128,
              "verbose":2,
              "epochs":20}

In [ ]:
if VALID is True:
    X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.10, random_state=1, shuffle=False)

    print("X Train Shape: ",X_train.shape)
    print("X Valid Shape: ",X_valid.shape)
    print("y Train Shape: ",y_train.shape)
    print("y Valid Shape: ",y_valid.shape)
    
    callbacks_list=[EarlyStopping(monitor="val_loss",min_delta=.001, patience=3,mode='auto')]
    hist = model_lstm.fit(X_train, y_train,
                          validation_data=(X_valid, y_valid),
                          callbacks=callbacks_list,
                          **LSTM_PARAM)
    pred = model_lstm.predict(test)

    best = np.argmin(hist.history["val_loss"])
    print("Optimal Epoch: {}",best)
    print("Train Score: {}, Validation Score: {}".format(hist.history["loss"][best],hist.history["val_loss"][best]))

    plt.plot(hist.history['loss'], label='train')
    plt.plot(hist.history['val_loss'], label='validation')
    plt.xlabel("Epochs")
    plt.ylabel("Mean Square Error")
    plt.legend()
    plt.show()
    plt.savefig("Train and Validation MSE Progression.png")

In [ ]:
if VALID is False:
    print("X Shape: ",X.shape)
    print("y Shape: ",y.shape)
    hist = model_lstm.fit(X,y,**LSTM_PARAM)
    pred = model_lstm.predict(X)
    
    plt.plot(hist.history['loss'], label='Training Loss')
    plt.xlabel("Epochs")
    plt.ylabel("Mean Square Error")
    plt.legend()
    plt.show()
    plt.savefig("Training Loss Progression.png")

In [ ]:
print("\Output Submission")
submission = pd.DataFrame(pred,columns=['item_cnt_month'])
submission.to_csv('submission.csv',index_label='ID')
print(submission.head())

In [ ]:
import keras
keras.__version__